<!DOCTYPE html>
<html lang="en" 

th:replace="~{base::parent(~{::#content}, ~{::title})}" >

<head>
    <title>Home Page</title>
</head>
<body>
    <!-- Define content fragment -->
    <div id="content">
        <h1>This is Home Page</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <h1>Hello</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Rerum quidem consequatur recusandae sunt repellendus neque sit dignissimos illum. 
            Nemo in quasi iure sit pariatur dolor.
        </p>
    </div>
</body>
</html>
